<div class="modal-header header-modal-default">
	<button type="button" class="close" ng-click="closeModal()" aria-hidden="true">×</button>
	<h4 class="modal-title">Confirmar Exclusão de Funcionário</h4>
</div>

<div class="modal-body">
	<h5>O funcionário <strong>{{dataUserDelete.nome}}</strong> será excluído. Deseja Prosseguir?</h3>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" class="btn btn-success pull-left" ng-click="executeDelete(dataUserDelete)">
				<i class="fa fa-check"></i>
				<span> Confirmar</span>
			</button>

			<button type="button" class="btn btn-default pull-right" ng-click="closeModal()">
				<i class="fa fa-times"></i>
				<span> Fechar</span>
			</button>
		</div>
	</div>
</div>