
<div ng-controller="geralController">
  <section class="section-options">
    <div class="container-sections">
      <div class="cards-home-section-options row">
        <a ui-sref="cursos" ui-sref-active="active" style="color: #2c3e50;">
          <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1 text-center">
            <i class="fas fa-graduation-cap fa-10x"></i><br>
            <span class="font-bangers fa-5x hover-decoration">Cursos</span><br>
            <button type="button" class="btn btn-primary btn-sm" ng-click="" style="border-radius: 10px;">
              <span class="fa-2x"> Ver Cursos Cadastrados</span>
            </button>
          </div>
        </a>

        <a ui-sref="users" ui-sref-active="active" style="color: #2c3e50;">
          <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1 text-center">
            <i class="fas fa-id-card fa-10x"></i><br>
            <span class="font-bangers fa-5x hover-decoration">Funcionários</span><br>
            <button type="button" class="btn btn-primary btn-sm" ng-click="" style="border-radius: 10px;">
              <span class="fa-2x"> Ver Funcionários Cadastrados</span>
            </button>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="section-info">
    <div class="container-sections">
      <div class="cards-home-section-options row">
        <div class="col-sm-6 text-center">
          <i class="fas fa-user-tie font-24em"></i>
        </div>
        <div class="col-sm-6 text-center" style="margin-top: 57px;">
          <span class="fa-5x">Atualmente Existem <strong class="color-purple">{{getCountUsersList}}</strong> Funcionários
            Cadastrados!</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-info-2">
    <div class="container-sections">
      <div class="cards-home-section-options row">
        <div class="col-sm-6 text-center">
          <i class="fas fa-award font-24em"></i>
        </div>
        <div class="col-sm-6 text-center" style="margin-top: 57px;">
          <span class="fa-5x">Bom, já temos <strong class="color-purple">{{getCountCursosList}}</strong> Cursos Criados e Ativos!</span>
        </div>
      </div>
    </div>
  </section>

  <ui-view></ui-view>

</div>